In [1]:
import pandas as pd

In [6]:
df = pd.read_csv('lego_sets.csv')

In [8]:
theme = pd.read_csv('parent_themes.csv')

In [39]:
df.head(50)

,set_num,name,year,num_parts,theme_name,parent_theme
0,00-1,Weetabix Castle,1970,471.0,Castle,Legoland
1,0011-2,Town Mini-Figures,1978,NaN,Supplemental,Town
2,0011-3,Castle 2 for 1 Bonus Offer,1987,NaN,Lion Knights,Castle
3,0012-1,Space Mini-Figures,1979,12.0,Supplemental,Space
4,0013-1,Space Mini-Figures,1979,12.0,Supplemental,Space
5,0014-1,Space Mini-Figures,1979,12.0,Supplemental,Space
6,0015-1,Space Mini-Figures,1979,NaN,Supplemental,Space
7,0016-1,Castle Mini Figures,1978,NaN,Castle,Castle
8,00-2,Weetabix Promotional House 1,1976,NaN,Building,Legoland
9,00-3,Weetabix Promotional House 2,1976,NaN,Building,Legoland
10,00-4,Weetabix Promotional Windmill,1976,126.0,Building,Legoland
11,005-1,Basic Building Set in Cardboard,1965,35.0,Basic Set,Classic
12,00-6,Special Offer,1985,3.0,Classic Town,Town
13,00-7,Weetabix Promotional Lego Village,1976,NaN,Building,Legoland
14,010-1,Basic Building Set in Cardboard,1965,57.0,Basic Set,Classic
15,010-3,Basic Building Set,1968,77.0,Basic Set,Classic
16,011-1,Basic Building Set,1968,145.0,Basic Set,Classic
17,022-1,Basic Building Set,1968,110.0,Basic Set,Classic
18,03093-1,The Race to Build It Board Game,1999,NaN,Game,Gear
19,033-2,Basic Building Set,1968,NaN,Basic Set,Classic
20,044-1,Basic Building Set,1968,NaN,Basic Set,Classic
21,055-2,Basic Building Set,1968,NaN,Basic Set,Classic
22,066-1,Basic Building Set,1968,NaN,Basic Set,Classic
23,080-1,Basic Building Set with Train,1967,710.0,Basic Set,Classic
24,088-1,Super Set,1969,615.0,Basic Set,Universal Building Set
25,10000-1,Guarded Inn,2001,256.0,Castle,Castle
26,10001-1,Metroliner,2001,NaN,Train,Train
27,10002-1,Railroad Club Car,2001,272.0,Train,Train
28,10003-1,1 x 2 Sand Red Bricks,2001,100.0,Bulk Bricks,Bulk Bricks
29,10004-1,2 x 2 Sand Red Bricks,2001,100.0,Bulk Bricks,Bulk Bricks
30,10005-1,2 x 4 Sand Red Bricks,2001,50.0,Bulk Bricks,Bulk Bricks
31,10006-1,1 x 6 Sand Red Bricks,2001,50.0,Bulk Bricks,Bulk Bricks
32,10007-1,2 x 4 Sand Red Ridge Roof Tiles Steep Slope,2001,25.0,Bulk Bricks,Bulk Bricks
33,10008-1,2 x 4 Roof Tile Sand Red,2001,50.0,Bulk Bricks,Bulk Bricks
34,10009-1,Assorted Blue Bricks,2001,62.0,Bulk Bricks,Bulk Bricks
35,100-1,4.5V Motor with Wheels (Small Version),1966,16.0,4.5V,Train
36,10010-1,Assorted Yellow Bricks,2003,63.0,Bulk Bricks,Bulk Bricks
37,10011-1,Assorted Blue Plates,2001,42.0,Bulk Bricks,Bulk Bricks
38,10012-1,Assorted Yellow Plates,2001,NaN,Bulk Bricks,Bulk Bricks
39,10013-1,Open Freight Wagon,2001,NaN,My Own Train,Train
40,10014-1,Caboose,2001,170.0,My Own Train,Train
41,10015-1,Passenger Wagon,2001,194.0,My Own Train,Train
42,10016-1,Tanker,2001,128.0,My Own Train,Train
43,10017-1,Hopper Wagon,2001,228.0,My Own Train,Train
44,10018-1,Darth Maul,2001,1868.0,Star Wars,Star Wars
45,10019-1,Rebel Blockade Runner - UCS,2001,NaN,Star Wars Episode 4/5/6,Star Wars
46,100-2,4.5V Motor with Wheels (Large Version),1966,27.0,4.5V,Train
47,10020-1,"Santa Fe Super Chief, NOT the Limited Edition",2002,NaN,9V,Train
48,10020-2,"Santa Fe Super Chief, Limited Edition",2002,NaN,9V,Train
49,10021-1,U.S.S. Constellation,2003,NaN,Hobby Sets,Hobby Sets

In [12]:
theme.head(10)

    id               name  is_licensed
0    1            Technic        False
1   22            Creator        False
2   50               Town        False
3  112             Racers        False
4  126              Space        False
5  147            Pirates        False
6  155  Modular Buildings        False
7  158          Star Wars         True
8  186             Castle        False
9  204      Designer Sets        False

### 1. What percentage of all licensed sets over released were Star Wars themed? Save you answer as a variable the_force in the form of an integer (e.g.25)

In [30]:
merger = df.merge(theme,left_on = 'parent_theme', right_on = 'name')
merger.drop(columns = 'name_y', inplace = True)
merger.head()

,set_num,name_x,year,num_parts,theme_name,parent_theme,id,is_licensed
0,00-1,Weetabix Castle,1970,471.0,Castle,Legoland,411,False
1,00-2,Weetabix Promotional House 1,1976,NaN,Building,Legoland,411,False
2,00-3,Weetabix Promotional House 2,1976,NaN,Building,Legoland,411,False
3,00-4,Weetabix Promotional Windmill,1976,126.0,Building,Legoland,411,False
4,00-7,Weetabix Promotional Lego Village,1976,NaN,Building,Legoland,411,False

In [33]:
merger[merger['set_num'].isnull()].shape

(153, 8)

In [40]:
licensed = merger[merger['is_licensed']]
licensed = licensed.dropna(subset = ['set_num'])
licensed.head()

Star_wars = licensed[licensed['parent_theme']=='Star Wars']
Star_wars.head(20)

the_force = int(Star_wars.shape[0]/licensed.shape[0]*100)
print(the_force)

51

### 2.In which year was Star Wars not the most popular licensed theme (in terms of number of sets released that year)? Save your answer as a variable new_era in the form of an integer (e.g.2012)

In [43]:
licensed_sorted = licensed.sort_values('year')
licensed_sorted['count'] = 1

summed_df = licensed_sorted.groupby(['year', 'parent_theme']).sum().reset_index()

max_df = summed_df.sort_values('count', ascending = False).drop_duplicates(['year'])

max_df.sort_values('year', inplace = True)
max_df

<ipython-input-43-c28f2722303a>:4: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  summed_df = licensed_sorted.groupby(['year', 'parent_theme']).sum().reset_index()

    year  parent_theme  num_parts     id  is_licensed  count
0   1999     Star Wars     1384.0   2054           13     13
2   2000     Star Wars     2580.0   4108           26     26
4   2001     Star Wars     2949.0   2212           14     14
6   2002     Star Wars     4735.0   4424           28     28
9   2003     Star Wars     6660.0   5056           32     32
12  2004     Star Wars     1659.0   3160           20     20
16  2005     Star Wars     4730.0   4424           28     28
20  2006     Star Wars     2769.0   1738           11     11
24  2007     Star Wars    11361.0   2528           16     16
28  2008     Star Wars     6865.0   3634           23     23
32  2009     Star Wars     3953.0   6162           39     39
36  2010     Star Wars     6003.0   4740           30     30
42  2011     Star Wars     3451.0   5056           32     32
47  2012     Star Wars     6769.0   6794           43     43
52  2013     Star Wars     6159.0   5530           35     35
59  2014     Star Wars     8293.0   7110           45     45
67  2015     Star Wars    11410.0   9164           58     58
76  2016     Star Wars     6934.0   9638           61     61
82  2017  Super Heroes    13123.0  34704           72     72

In [45]:
new_era = 2017

### Break down number of sets by year

In [48]:
clean_df = merger[~merger['set_num'].isnull()]
clean_df['count'] = 1
sets_per_year = clean_df.groupby(['year']).sum().reset_index()[['year','count']]

for index, row in sets_per_year.iterrows():
    print(row['year'],row['count'])

<ipython-input-48-e84a68ad3d1f>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  clean_df['count'] = 1
<ipython-input-48-e84a68ad3d1f>:3: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  sets_per_year = clean_df.groupby(['year']).sum().reset_index()[['year','count']]

1950 7
1953 4
1954 14
1955 28
1956 12
1957 21
1958 42
1959 4
1960 3
1961 17
1962 40
1963 18
1964 11
1965 10
1966 89
1967 21
1968 25
1969 69
1970 29
1971 45
1972 38
1973 68
1974 39
1975 31
1976 68
1977 92
1978 73
1979 82
1980 88
1981 79
1982 76
1983 57
1984 76
1985 139
1986 123
1987 209
1988 68
1989 114
1990 85
1991 106
1992 115
1993 111
1994 128
1995 128
1996 144
1997 194
1998 325
1999 300
2000 327
2001 339
2002 447
2003 415
2004 371
2005 330
2006 283
2007 319
2008 349
2009 403
2010 444
2011 502
2012 615
2013 593
2014 715
2015 670
2016 608
2017 438